.venv/
virtualenv/
venv/

.DS_Store

financial_projector_api/venv/
financial_projector_ui/node_modules/
financial_projector_ui/build/

# IDE-specific ignore for VS Code
.vscode/

# Python specific ignores
__pycache__/
*.pyc
*.log

# Add api/.env to gitignore
api/.env

# Explicitly ignore api/node_modules/ and finmodel.db
api/node_modules/
finmodel.db
