.add-new-item-btn {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  background-color: #0b57d0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  white-space: nowrap;
  width: auto; /* Allow natural width based on content and padding */
  height: auto; /* Allow natural height */
  margin-bottom: 1.5rem; /* Add some space below the button */
}

.add-new-item-btn:hover {
  background-color: #084399;
}
